<a href="https://colab.research.google.com/github/Doppler-67/taxi-orders-forecasting/blob/main/taxi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing libraries**

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
sns.set()

In [14]:
np.random.seed(67)

#**Data understanding**

In [15]:
data = pd.read_csv('/content/drive/MyDrive/taxi_orders_forecasting/taxi.csv')

In [16]:
data.head()

              datetime  num_orders
0  2018-03-01 00:00:00           9
1  2018-03-01 00:10:00          14
2  2018-03-01 00:20:00          28
3  2018-03-01 00:30:00          20
4  2018-03-01 00:40:00          32

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    26496 non-null  object
 1   num_orders  26496 non-null  int64
dtypes: int64(1), object(1)
memory usage: 414.1+ KB

In [18]:
data.describe()

         num_orders
count  26496.000000
mean      14.070463
std        9.211330
min        0.000000
25%        8.000000
50%       13.000000
75%       19.000000
max      119.000000

#**Data preparation**

Для начала приведем колонку datetime к нужному типу и сделаем ее индексом.

In [19]:
data['datetime'] = pd.to_datetime(data['datetime'])

In [21]:
data = data.set_index('datetime').sort_index()

Выполним ресемплирование, чтобы временной промежуток между строками равнялся одному часу.

In [24]:
data = data.resample('1H').sum()

Посмотрим на предобработанные данные.

In [25]:
data.head()

                     num_orders
datetime
2018-03-01 00:00:00         124
2018-03-01 01:00:00          85
2018-03-01 02:00:00          71
2018-03-01 03:00:00          66
2018-03-01 04:00:00          43